
	.uhdblue{/*make font blue*/
		font-family: Georgia, serif;
		color:blue;
		}
	.uhdred {/*make font red*/
		font-family: Georgia, serif;
		color:red;
		}
	#header { /*this is to place the banner, with white background*/
		background:
		url(bannerColor3.png) no-repeat white;
		background-size: 100%;
		}
	#topNav {/*the links to other uhd pages up top*/
		float: right;
		width:32.5%;
		background-color:rgba(192,192,192,0.4);
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		}
	#topNav li a{/*each list item for uhd links up top*/
		float: right;
		display: block;
		font-size: 20px;
		font-family: serif;
		color: black;
		text-shadow: 2px 1px 1px #666666
		text-align: center;
		padding: 10px 15px;
		text-decoration: none;
		}
	#topNav li a:hover{/*what happens when you hover on list items*/
		color:white;
		text-decoration: underline;
		}
	#botNav{/*the links to other uhd pages on bottom*/
		border-top: 3px solid black;
		width:100%;
		float: right;
		background-color:rgba(0,0,0,0);
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		}
	#botNav li a{/*list items for bottom*/
		float: right;
		background-color:rgba(0,0,0,0);
		display: block;
		font-size: 20px;
		font-family: serif;
		color: black;
		text-align: center;
		padding: 5px 15px;
		text-decoration: none;
		}
	#botNav li a:hover{/*what happens when you hover on bottom*/
		background-color: lightgray;
		color:white;
		}
	h1{/*text shadow for header1*/
		text-shadow: 2px 2px 2px #666666
		}
	h2{/*text shadow for header2*/
		text-shadow: 2px 1px 1px #b3b3b3
		}
	h3{/*text shadow, font size for header3*/
		font-size: 30px;
		text-shadow: 2px 1px 1px #b3b3b3;
	}
	img {/*specs of all images used with img tag*/
		max-width: 10%;
		height: auto;
		width: auto\9; 
		}
	#nav {/*blue nav for links to free coding sites*/
		width: 100%;
		float: left;
		margin: 0 0 1em 0;
		padding: 2px;
		list-style: none;
		background-color: navy;
		border-bottom: 2px solid darkred; 
		border-top: 2px solid darkred; 
		}
	#nav li {/*left oriented*/
		float: left; 
		}
	#nav li a {/*each list item specs*/
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: white;
		border-right: 2px solid darkred; 
		}
	#nav li a:hover {/*hover specs*/
		color: navy;
		background-color: white; 
		}
	.centerText{/*centering text and making a border*/
		padding: 10px 0;
		font-size: 20px;
		border:solid 1px #000;
		}

		/*code below are for the dark red buttons on main webpage*/
#round1
{

    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 350px;
    left: 700px;/* increasing border-radius */
}
#round1 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round1  a:hover{
    color:white;
    text-decoration: underline;
}


#round2
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 400px;
    left: 700px;/* increasing border-radius */
}

#round2 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}

#round2  a:hover{
    color:white;
    text-decoration: underline;
}

#round3
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 450px;
    left: 700px;/* increasing border-radius */
}

#round3 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round3  a:hover{
    color:white;
    text-decoration: underline;
}

#round4
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 500px;
    left: 700px;/* increasing border-radius */
}

#round4 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round4  a:hover{
    color:white;
    text-decoration: underline;
}

#round5
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 550px;
    left: 700px;/* increasing border-radius */
}

#round5 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round5  a:hover{
    color:white;
    text-decoration: underline;
}

#round6
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 30px;
    position: absolute;
    top: 600px;
    left: 700px;/* increasing border-radius */
}

#round6 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round6  a:hover{
    color:white;
    text-decoration: underline;
}

#round7
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 650px;
    left: 700px;/* increasing border-radius */
}

#round7 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round7  a:hover{
    color:white;
    text-decoration: underline;
}

#round8
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 700px;
    left: 700px;/* increasing border-radius */
}

#round8 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round8  a:hover{
    color:white;
    text-decoration: underline;
}

#round9
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 750px;
    left: 700px;/* increasing border-radius */
}

#round9 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}
#round9  a:hover{
    color:white;
    text-decoration: underline;
}

#round10
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 30px;
    position: absolute;
    top: 800px;
    left: 700px;/* increasing border-radius */
}

#round10 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}

#round10  a:hover{
    color:white;
    text-decoration: underline;
}

#round11
{
    border: 03px solid darkred;
    padding: 5px 20px;
    background: darkred;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    top: 850px;
    left: 700px;/* increasing border-radius */
}

#round11 a{
    
    font-size: 20px;
    font-family: serif;
    color: white;
    text-shadow: 2px 1px 1px #666666
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
}

#round11  a:hover{
    color:white;
    text-decoration: underline;
}

